@import 'variables';

:root {
    --color-slate-previous: gray;
    --color-slate-next: darkgray;

    --color-red-previous: var(--color-magenta);
    --color-red-next: var(--color-yellow);

    --color-yellow-previous: var(--color-red);
    --color-yellow-next: var(--color-green);

    --color-green-previous: var(--color-yellow);
    --color-green-next: var(--color-turquoise);

    --color-turquoise-previous: var(--color-green);
    --color-turquoise-next: var(--color-lightblue);

    --color-lightblue-previous: var(--color-turquoise);
    --color-lightblue-next: var(--color-blue);

    --color-blue-previous: var(--color-lightblue);
    --color-blue-next: var(--color-purple);

    --color-purple-previous: var(--color-blue);
    --color-purple-next: var(--color-magenta);

    --color-magenta-previous: var(--color-purple);
    --color-magenta-next: var(--color-red);
}

@mixin create-theme($previous: null, $next: null) {
    --theme-previous: #{$previous};
    --theme-next: #{$next};
}

[data-doc-it-theme="slate"] {
    @include create-theme(var(--color-slate-previous), var(--color-slate-next));
}

[data-doc-it-theme="red"] {
    @include create-theme(var(--color-red-previous), var(--color-red-next));
}

[data-doc-it-theme="yellow"] {
    @include create-theme(var(--color-yellow-previous), var(--color-yellow-next));
}

[data-doc-it-theme="green"] {
    @include create-theme(var(--color-green-previous), var(--color-green-next));
}

[data-doc-it-theme="turquoise"] {
    @include create-theme(var(--color-turquoise-previous), var(--color-turquoise-next));
}

[data-doc-it-theme="lightblue"] {
    @include create-theme(var(--color-lightblue-previous), var(--color-lightblue-next));
}

[data-doc-it-theme="blue"] {
    @include create-theme(var(--color-blue-previous), var(--color-blue-next));
}

[data-doc-it-theme="purple"] {
    @include create-theme(var(--color-purple-previous), var(--color-purple-next));
}

[data-doc-it-theme="magenta"] {
    @include create-theme(var(--color-magenta-previous), var(--color-magenta-next));
}
