@import 'variables';

// Clickable text style.
[data-tts] {
    user-select: none;
}

[data-tts].tts-playable {
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
        cursor: pointer;
    }
}

// Now playing states.
.tts-active {
    color: var(--theme-text);
    background-color: rgba(black, .1);
}

[data-doc-it-theme="slate"] .tts-active {
    background-color: rgba($color-slate, .15);
}
