@import 'variables';

@mixin beforeAfterBGGlow() {
    &::after,
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        content: '';

        z-index: -1;

        @content;
    }

    &::before {
        opacity: .5;
        filter: blur(12px);
    }
}

// Tts player styling.
.tts-player {
    position: fixed;
    z-index: 1;

    bottom: $padding;
    right: $padding;

    font-family: Kufam, Mulish;

    &.tts-maximized {
        bottom: 0;
        right: 0;
        width: 100%;

        &::before,
        &::after {
            border-radius: 0;
        }
    }

    &.tts-loading {
        &,
        button,
        .tts-progress {
            cursor: wait !important;
        }
    }

    &,
    * {
        box-sizing: border-box;
        line-height: 1;
        user-select: none;
    }

    & {
        color: var(--theme-background);

        @include beforeAfterBGGlow {
            border-radius: 999px;

            background-color: var(--theme-accent);
            background-image:
                radial-gradient(circle at -50% -50%, var(--theme-next), transparent 75%),
                radial-gradient(circle at center center, var(--theme-accent), transparent 100%),
                radial-gradient(circle at 150% 100%, var(--theme-previous), transparent 75%)
            ;
        }
    }

    svg {
        width: $icon-sizes;
        height: $icon-sizes;

        @media (min-width: $container-width) {
            width: $icon-sizes-large;
            height: $icon-sizes-large;
        }
    }

    button {
        padding: 0;
        border: 0;

        &:focus {
            outline: 0;
        }

        background-color: transparent;
        color: inherit;

        vertical-align: middle;
        line-height: 0;

        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }

    [hidden] {
        display: none !important;
    }
}

.tts-container {
    display: flex;
    align-items: center;
    max-width: $container-width;
    padding: 0 $padding;
    width: 100%;
    margin: 0 auto;
}

.tts-minimize,
.tts-controls,
.tts-timing {
    display: none;
}

.tts-player.tts-maximized {
    .tts-minimize,
    .tts-controls,
    .tts-timing {
        display: block;
    }

    .tts-maximize {
        display: none;
    }
}

.tts-player .tts-minimize {
    background-color: rgba(white, .25);
    border-radius: 999px;
    margin-left: auto;
}

.tts-timing {
    background-color: rgba(white, .7);
    color: var(--theme-text);
}

.tts-play:disabled,
.tts-pause:disabled {
    display: none;
}

.tts-maximize,
.tts-play,
.tts-pause {
    svg {
        width: $icon-sizes * 2;
        height: $icon-sizes * 2;

        @media (min-width: $container-width) {
            width: $icon-sizes-large * 2;
            height: $icon-sizes-large * 2;
        }
    }
}

.tts-previous:disabled,
.tts-next:disabled {
    opacity: .5;
}

.tts-time,
.tts-duration {
    padding: $padding;

    font-size: .6em;
    margin-bottom: -3px;
}

.tts-time {
    padding-left: 0;
}

.tts-duration {
    padding-right: 0;
}

.tts-progress,
.tts-volume {
    background-color: rgba(white, .25);
    border-radius: 999px;
}

$progress-bar-size: 12px;

.tts-progress {
    position: relative;
    flex-grow: 1;

    padding: $progress-bar-size * .5;
    cursor: e-resize;

    &-bar {
        position: absolute;
        left: 0;
        top: 50%;
        height: $progress-bar-size;
        min-width: $progress-bar-size;

        opacity: .8;
        border-radius: 999px;
        background-color: var(--theme-accent);
        background-image:
            radial-gradient(circle at -50% -50%, var(--theme-next), transparent 75%),
            radial-gradient(circle at center center, var(--theme-accent), transparent 100%),
            radial-gradient(circle at 150% 100%, var(--theme-previous), transparent 75%);

        transform: translateY(-50%);
    }
}

.tts-volume .tts-progress-bar {
    background-color: var(--theme-background);
    background-image: none;
}

.tts-volume {
    display: flex;
    align-items: center;
    flex-grow: 1;

    padding: 0 ($padding * .25);
    margin: $padding * .25 $padding;

    background-color: rgba(white, .25);
}

.tts-volume-percentage {
    font-size: .6em;
    margin: 0 $padding * .5;
}

.tts-volume-icon {
    opacity: .5;
}

$loading-animation-duration: 2s;
.tts-progress.tts-loading,
.tts-maximize.tts-loading {
    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        opacity: 0;

        border-radius: 999px;
    }

    &::after {
        animation-delay: 0s;
        background-color: var(--theme-previous);
        background-image: linear-gradient(to right, var(--theme-next), var(--theme-previous));
    }

    &::before {
        animation-delay: -($loading-animation-duration * .5);
        background-color: var(--theme-next);
        background-image: linear-gradient(to right, var(--theme-previous), var(--theme-next));
    }
}

.tts-maximize.tts-loading {
    &::after,
    &::before {
        animation: tts-maximize-loading ease-in-out infinite $loading-animation-duration;
    }
}

.tts-progress.tts-loading {
    &::before,
    &::after {
        animation: tts-progress-loading ease-in-out infinite $loading-animation-duration * .5;

        animation-delay: ($loading-animation-duration * .25);
    }

    &::after {
        animation-delay: 0s;
    }
}

@keyframes tts-maximize-loading {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    25% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes tts-progress-loading {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    25% {
        opacity: .4;
    }

    100% {
        transform: scaleY(2);
        opacity: 0;
    }
}
